@media(max-width: 1100px) {
body a{
    font-size: 13px;
}
.banner-hospitals input {
    width: 410px;
    font-size: 13px;
}
.article-title {
    font-size: 15px;
}
.article-card{
    min-height: 450px;
}
.footer-location-links {
    font-size: 12px;
}
.serv-card p {
    font-size: 10px;
}
.input-1 input {
    width: 170px;
}
.input-2 input {
    width: 330px;
}
}


@media(max-width: 1023px) {
    body a{
        font-size: 15px;
    }
    .nav-section {
        flex-direction: column;
        position: absolute;
        top: 80px;
        gap: 10px;
        background-color: #f16823;
        width: 100%;
        left: 0;
        padding: 20px 30px;
        transform: scale(0);
        transition: all 0.4s ease-in-out;
    }
    .active-nav{
        transform: scale(1);
    }
    .nav-links{
        flex-direction: column;
        gap: 10px;
    }
    .nav-login{
        flex-direction: column;
        gap: 10px;
    }
    .hamburger{
        display: block;
    }
    .hamburger box-icon{
        height: 40px;
        width: 50px;
    }
    .nav-contact p a, .nav-links li a{
       color: #fff;
    }
    .article-card {
        min-height: 410px;
    }

    .contact-form{
        position: absolute;
        top: 80px;
        left: 100px;
    }
    .navigation-contact{
        padding-bottom: 70px;
    }


}

@media(max-width:767px){
    .banner-search{
        flex-direction: column;
        gap: 10px;
        margin: 20px 0px 60px 0px;
    }
    .banner-hospitals input, .banner-location input{
        width: 100%;
    }
    .banner-hospitals input{
        font-size: 10px;
    }
    .serv-card{
        justify-content: space-between;
    }
    .serv-card p {
        font-size: 16px;
    }
    .freq-head, .articles-head {
        display: inherit;;
        align-items: start;
        justify-content: start;
    }
    .freq-head input, .articles-head input{
        width: 100%;
    }
    .copy-right h6 {
        font-size: 12px;
    }
    .footer-location-links {
        grid-template-columns: repeat(3, 1fr);
    }
    .benefits-content h1 {
        font-size: 25px;
    }
    .benefits-images{
        flex-direction: column;
    }
    .benefits-images img{
        height: 120px;
    }
    .benefits-images p{
        text-align: center;;
    }
    .contact-benefit-form{
        margin-top: 30px !important;
    }
    .benefits-btn img, .benifits-number img, .benefits-otp img {
        width: 100%;
    }
    .contact-form{
        flex-direction: column;
        top: 70px;
        left: 10px;
        right: 10px;
        gap: 10px;
    }
    .input-1 input, .input-2 input{
        width: 100%;
    }
    .navigation-contact{
        padding-bottom: 120px;
    }
    .contact-nav-content{
        display: none;
    }

 
    
    
    
}

