@media(max-width: 1100px) {
body a{
    font-size: 13px;
}
.banner-hospitals input {
    width: 410px;
    font-size: 13px;
}
.article-title {
    font-size: 15px;
}
.article-card{
    min-height: 450px;
}
.footer-location-links {
    font-size: 12px;
}
}


@media(max-width: 1023px) {
    body a{
        font-size: 15px;
    }
    .nav-section {
        flex-direction: column;
        position: absolute;
        top: 80px;
        gap: 10px;
        background-color: #f16823;
        width: 100%;
        left: 0;
        padding: 20px 30px;
        transform: scale(0);
        transition: all 0.4s ease-in-out;
    }
    .active-nav{
        transform: scale(1);
    }
    .nav-links{
        flex-direction: column;
        gap: 10px;
    }
    .nav-login{
        flex-direction: column;
        gap: 10px;
    }
    .hamburger{
        display: block;
    }
    .hamburger box-icon{
        height: 40px;
        width: 50px;
    }
    .nav-contact p a, .nav-links li a{
       color: #fff;
    }
    .article-card {
        min-height: 410px;
    }

}

@media(max-width:767px){
    .banner-search{
        flex-direction: column;
        gap: 10px;
        margin: 20px 0px 60px 0px;
    }
    .banner-hospitals input, .banner-location input{
        width: 100%;
    }
    .banner-hospitals input{
        font-size: 10px;
    }
    .serv-card{
        justify-content: space-between;
    }
    .serv-card p {
        font-size: 16px;
    }
    .freq-head {
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
    .freq-head input{
        width: 100%;
    }
}

